<!DOCTYPE html>
<html>
    <title>About Our Website</title>
    <h1>ABOUT OUR WEBSITE</h1>
    
        <p>
            <br>A Movie database contains information about movies and actors.Each movies is identified by tittle and year of relase.</br>
            The movie details page will have:
          <br>● Title header</br>
          <br>● Picture of movie</br>
         <br>● Synopsis of movie</br>
          <br>● MPAA rating</br>
           <br> ● Website rating</br>
            <br>● List of Actors</br>
         <br>● Submit button</br>
           <br> When a movie link is chosen for a movie the movie details page will be displayed. The website
            rating will be chosen by the implementors of the page. A list of actors and a director will be
            shown as links that directs to that specific actor or director page.</br>
            The movie home page will have:
           <br> ● Movie stills</br>
           <br> ● Movie names</br>
           <br> ● Star rating</br>
            When a user clicks the Browse movie button the movie index page will be shown. It will contain
            stills of the movies which are links to the movie details page
            Actor profile.html
           <br> The actor profile page will have:</br>
           <br>● Actor pictures</br>
           <br> ● Actor names</br>
           <br> ● List of Movies acted </br>
            
</p>