<!DOCTYPE html>
<html>
<head>
    <title>Movie Categories</title>
    <style>
        .category {
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 200px;
            text-align: center;
            cursor: pointer;
        }

        .category:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <h1>Movie Categories</h1>
    <div class="category" onclick="location.href='drama.html'"><li><a href="Action movies.html">Action</a></li></div>
    <div class="category" onclick="location.href='comedy.html'"><li><a href="Comedy movies.html">Comedy</a></li></div>
    <div class="category" onclick="location.href='horror.html'"><li><a href="hr.html">Horror</a></li></div>
    <div class="category" onclick="location.href='romance.html'"><li><a href="file:///C:/Users/glraj/Desktop/room%20project1/templates/Romantic%20movies%2Chtml.html">Romantic</a></li></div>
    <div class="category" onclick="location.href='sci-fi.html'"><li><a href="science fiction movies.html">science fiction</a></li></div>
</body>
</html>
